<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Places Been</title>
</head>
<body>
  <div class="container" style="text-align: center;">
    <h1> Welcome to your List of Places!</h1>

    <a href="/place/new" class="btn btn-dark">Add a new city</a>
    <a href="/place" class="btn btn-dark">Show All Places</a>
  </div>
</body>
</html>