@using ProjectName.Models;

<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Project Name</title>
</head>

<body>
  <div class="container">
    <h2>List</h2>
@* 
    @if (Model.Count == 0)
    {
      <p>No items to be packed</p>

    }
    <ul>
      @foreach (Packer item in Model)
      {
        <li>@item.Items</li>
      }
    </ul>

    <a href="/project/new" class="btn btn-dark">Add a new item</a>
    <div>
    <form action="/project/delete" method="post">
      <button type="submit" name="button" class="btn btn-dark" style="margin-top: 8px;">Clear All Items</button>
    </form> *@
    </div>
  </div>
</body>

</html>